.wrapper {
    display: flex;
    width: 86%;
    margin: 30px auto;
    gap: 20px;

    .leftWrapper {
        width: 75%;
        border: 1px solid black;
    }

    .rightWrapper {
        width: 25%;
        border: 1px solid black;
    }
}