.wrapper {
    display: flex;
    align-items: flex-start;
    width: 86%;
    margin: 30px auto;
    gap: 1.25rem;

    .leftWrapper {
        width: 75%;
    }

    .rightWrapper {
        width: 25%;
    }

    .leftWrapper,
    .rightWrapper {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
}