$white: #FFF;
$black: #000;
$pink: #B355B7;
$blue: #69F8F8;
$light-grey: #EBECF4;
$bright-grey: #F5F6FA;
$grey: #97979B;
$dark-grey: #556773;


$primary-color-light-theme: #B355B7;
$secondary-color-light-theme: #96E2F4;

$primary-color-dark-theme: #042B46;
$secondary-color-dark-theme: #021929;
$tertiery-color-dark-theme: #041D2E;
