.dicountDisplayerWrapper {
    width: 50%;

    .title {
        font-size: 0.75rem;
        font-weight: 400;
    }

    .discountPrice {
        font-size: 0.875rem;
        font-weight: 500;
    }
}