.dicountDisplayerWrapper {
    width: 50%;

    .title {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .discountPrice {
        font-size: 0.875rem;
        font-weight: 700;
    }
}