@import "../../styles/color";

.button {
    border: none;
    text-transform: uppercase;
    color: $white;
    background-color: $red;
    width: 100%;
    font-weight: 400;
    padding: 0.5rem;
    margin: 0.25rem 0;
    cursor: pointer;
}

.small {
    padding: 0.25rem;
    margin: 0;
    font-size: 0.6rem;
}