@import "../../styles/color";

.flightItemWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: $white;

    .imageWrapper {
        width: 10%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .flightDetailsWrapper {
        width: 70%;

        h5 {
            font-weight: 300;
            font-size: 0.875rem;
        }

        h6 {
            font-size: 0.68rem;
            font-weight: 400;
        }

        span {
            font-size: 0.75rem;
            font-weight: 600;
            display: block;
        }

    }

    .bookButtonWrapper {
        width: 20%;
    }
}