@import "../../styles/color";
@import '../../styles/mixins';

.searchContainer {
    padding: 1rem 1.25rem;
    background-color: $grey;

    h3 {
        @include headingMedium;
    }

    .contentSmall {
        font-size: 0.688rem;
        width: 54%;
        margin-top: 1.25rem;
        @include content;
    }

    .contentBig {
        width: 48%;
        margin: 0.5rem 0;
        @include content;
    }

    .searchInputBox {
        width: 55%;
        padding: 0.5rem;
        border: none;
        margin: 0.25rem 0 0.5rem;

    }

    .searchInputBox:focus {
        border: none;
    }
}