@import "../../styles/color";
@import '../../styles/mixins';

.searchContainer {
    padding: 1.6rem;
    background-color: $grey;

    h3 {
        @include headingMedium;
    }

    .contentSmall {
        font-size: 0.688rem;
        width: 58%;
        margin-top: 1.25rem;
        @include content;
    }

    .contentBig {
        width: 48%;
        margin: 0.85rem 0;
        @include content;
    }

    .searchInputBox {
        width: 55%;
        padding: 0.75rem;
        border: none;
        margin: 0.5rem 0 0.35rem;

    }

    .searchInputBox::placeholder{
        color: #CDCDCD;
        font-size: 0.75rem;
    }
    .searchInputBox:focus {
        border: none;
    }
}