@import "../../styles/colors";
@import "../../styles/units";

.cartWrapper {
    // background-color: blanchedalmond;
    width: 430px;
    position: fixed;
    right: 0;
    top: 80px;
    height: 100vh;
    padding: 3rem 2rem;
    background-color: #f7f7f7;

    .cartItemsWrapper {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .cartFooterWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0px;
        bottom: 80px;
        width: 100%;
        height: 100px;
        background-color: #fff;
        padding: 0 3rem;
        box-shadow: 1px 1px 5px $grey-color-light;
    }
}