.pageNotFoundWrapper {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 40vh;
    background-color: #424242;
    color: #fff;
    h2 {
        font-size: 4rem;
    }
    h3 {
        margin: 1rem 0;
        font-size: 2rem;
    }
}