@import "../../styles/units";

.categoryCardWrapper {
    width: 30%;

    img {
        width: 100%;
        height: $unit-13;
    }

    .categoryTitle {
        font-size: 32px;
        font-weight: 400;
        margin-top: $unit-2;
    }

    .categoryDescription {
        font-weight: 100;
        line-height: 1.6;
        font-size: 15px;
        margin: $unit-3 0;
    }
}