.inputWrapper {
    display: flex;
    input {
        background-color: transparent;
        color: #fff;
        border: none;
        width: 100%;
        &:focus {
            outline: none;
        }
        &.borderbottom {
            border-bottom: 1px solid #413f3d;
        }
        &.themewhite {
            background-color: #fff;
        }
    }
    label {
        margin-top: 0.5rem;
        color: #838485;
        &.themewhite {
            color: #fff;
            margin: 0;
        }
    }
    &.column {
        margin: 0.5rem 0;
        flex-direction: column;
        input {
            font-size: 1.1rem;
            padding: 0.45rem 0;
            margin-bottom: 0.5rem;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: #fff !important;
            }
        }
    }
    &.row {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        width: 80%;
        label {
            font-size: 1.7rem;
        }
        .inputWrapper {
            width: 39%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            input {
                width: 100%;
                padding: 1rem;
                color: #cacaca;
                &::placeholder {
                    font-size: 0.75rem;
                    color: #cacaca;
                }
            }
        }
    }
    .inputError {
        color: #c12828;
        font-size: 0.85rem;
    }
}
