@import "../../styles/color";
@import "../../styles/mixins";

.tripFormWrapper {
    padding: 1rem;
    background-color: $blue;

    h2 {
        @include headingLarge;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}