.cineflexButton {
    width: 100%;
    padding: 1.3rem;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 2.3rem;
    cursor: pointer;
    &.yellow {
        background-color: #e09d1f;
        &.disabled {
            background-color: #77571d;
            color: #807d7d;
        }
    }
    &.red {
        background-color: #d0011c;
        &.disabled {
            background-color: #9e0116bd;
            color: #807d7d;
        }
    }
    &.medium {
        width: 33%;
        margin: 0;
        padding: 1.25rem;
    }
    &.small {
        width: 20%;
        margin: 0;
        padding: 1rem;
    }
    &.smaller {
        width: 18%;
        padding: 0.5rem;
        font-size: 1.3rem;
        margin: 0;
    }
}

.disabled {
    cursor: not-allowed;
}
