@import '../../styles/color';

.blogsContainer {
    width: 32%;
    padding: 40px;
    background-color: $bright-grey;
    .blogsSection {
        height: 95vh;
        padding: 20px 0;
        overflow-y: scroll;
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .blogsActionsWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .searchWrapper {
            width: 67%;
        }
    }
    .buttonWrapper {
        // width: 20%
    }
    &.darkTheme{
        background-color: $black;
    }
}