@import "../../styles/color";
@import "../../styles/mixins";

.bookFlightWrapper {
    padding: 1rem;
    background-color: $blue;

    .bookFlightHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            @include headingLarge;
        }

        .primeLogo {
            width: 40px;
        }
    }


    .price {
        font-size: 1.625rem;
        font-weight: 300;
        margin: 0.5rem 0;
    }

    .displayDiscountContainer {
        display: flex;
        margin: 0.75rem 0;
    }

    .contentWrapper {
        margin: 0.75rem 0;
    }

    .content {
        margin: 0.5rem 0;
        @include content;
    }

}