$black: #000;
$white: #fff;
$green: #3b8624;

$white-1: #f7f7f7;

$grey-color-1: #eeeeee;
$grey-color-2: #c8c8c8;


$grey-color: #918e8e;
$grey-color-light: #a8a7a7;

$grey-color-lighter: #888888;
$grey-color-dark: #4f4f4f;


$disabled-button: #00000091;