$unit-1: 0.5rem;
$unit-2: 0.75rem;
$unit-3: 1rem;
$unit-4: 1.25rem;
$unit-5: 1.5rem;
$unit-6: 1.75rem;
$unit-7: 2rem;
$unit-8: 2.5rem;
$unit-9: 3rem;
$unit-10: 4rem;
$unit-11: 9rem;
$unit-12: 11rem;
$unit-13: 38rem;

// $font-size-smaller