@mixin content {
    font-size: 0.88rem;
    font-weight: 500;
}

@mixin headingMedium {
    font-size: 1.35rem;
    font-weight: 700;
}

@mixin headingLarge {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}