.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    &.transparent {
        background-color: inherit;
    }
    &.zindex2 {
        z-index: 2;
    }
    &.zindex3 {
        z-index: 3;
    }
    &.showCursor {
        cursor: pointer;
    }
    &.lightTheme {
        background-color: rgba(0,0,0,0.5);
    }
    &.darkTheme {
        background-color: rgba(17, 17, 97, 0.5);
    }
}