@import "../../styles/colors";
@import "../../styles/units";

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 $unit-9;
    background-color: $white;
    box-shadow: 1px 1px 10px $grey-color;
    z-index: 9;

    .home {
        color: $black;
        text-decoration: none;
        font-size: 1.25rem;
    }

    .profileWrapper {
        display: flex;
        align-items: center;
        gap: $unit-1;
    }
}