@import "../../styles/color";
@import "../../styles//mixins";

.cityPromotionWrapper {
    padding: 1rem 1.25rem;
    background-color: $yellow;


    .promotionHeading {
        @include headingMedium;
    }

    .cityTemperature {
        font-size: 1.563rem;
        font-weight: 300;
        margin: 0.75rem 0;
    }

    .cityDescription {
        font-size: 0.75rem;
        font-weight: 400;
    }
}